<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App for apps.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>My share extension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>465DAA7829DF6DD20098E617</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46B434CA29DF8B42004C2086</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46B434E229DF8C72004C2086</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46B4350B29DF9A98004C2086</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46B4351F29E079A9004C2086</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
